/* Shared Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  font-family: "Open Sans", sans-serif;
}
.text_primary {
  color: #fd6e0a;
}

button{
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 18px 32px;
  font-weight: 700;
}
i{
  margin-right: 10px;
}

.btn_primary {
  background-color: #fd6e0a;
  color: #fff;
  
}
.btn_secondary{
  opacity: 1;
  background-color: transparent;
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
}

.section_title {
  text-align: center;
  margin: 0 0 30px;
  font-size: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #181818;
}

p {
  color: #757575;
  font-size: 18px;
}

.column-title{
  font-size: 35px;
  color:#474747;
  font-weight: 700;

}

.column_desc{
    color: #757575;
    font-weight: 400;
    font-size: 20px;
   
  
}

/*        Header Style          */
.header {
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-size: auto, 5% 85%;
  background-position: bottom right, 23px;
  background-color: #fff8f3;
}
/* Nav Style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
  padding-top: 20px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
.nav_title {
  font-weight: 800;
  font-size: 3rem;
}

.nav_menu {
  align-items: center;
  display: flex;
}

/* Banner Style */

.banner {
  padding: 30px 30px 0 150px;
  display: flex;
  align-items: center;
  color: #474747;
  font-weight: 400;
  justify-content: space-between;
}

.banner h3 {
  font-weight: 500;
  font-size: 40px;
}
.banner_content {
  width: 585px;
}
.banner_content p {
  margin-bottom: 30px;
}

.banner h1 {
  margin: 5px auto 10px;
  font-size: 80px;
  font-weight: 800;
}
.profile_picture {
  max-width: 55%;
}

.banner .btn_primary{
  margin-right: 30px;
}

/* Main */
main {
  max-width: 1140px;
  margin: 0 auto 115px;
}

.about {
  margin: 130px auto;
  background-color: #fff8f3;
  padding: 130px 150px;
  text-align: center;
}

.about_info-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  /* align-items: center; */
}
.about_info {
  text-align: center;
}
.what_i_do{
    margin-bottom: 200px; 
}


#what_i_do_desc{
  text-align: center;
    padding: 30px 150px;
    margin-bottom: 50px;
}

.skill_container{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.skill{
    padding: 35px;
    border-radius: 5px;
    box-shadow: 16px 3px 19px 2px rgba(0, 0, 0, 6%);
}
.skill_title{
    margin: 30px 0;
}

.resume_container{
  display: flex;
  gap: 70px;
  margin-bottom: 50px;
}


.resume_column-title{
  margin: 90px 0px 70px;
}


.resume_item hr{
  margin: 30px 0;
  color: #757575;
}

.item_title{
  font-size: 25px;
  color:#474747;
  margin-bottom: 10px;
}

.item_info{
  color: #757575;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}


.btn-cv{
 display: block;
  margin: 0 auto;
  
}

           /* Footer Section */

footer{
  background-color: #fff8f3;
  display: flex;
  padding: 130px 230px;
 gap: 120px;
}           

.social_icon{
  margin: 10px 15px 0 0;
  width: 20px;
  
}
#footer h3{
  margin: 25px 0;

}

.footer_form input,textarea{
  width: 460px;
  max-width: 460px;
  padding: 15px;
  margin: 0 0 25px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.footer_form .message{
  height: 180px;
  max-height: 180px;

}
















@media screen and (max-width:1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.column-title{
font-size: 1.5rem;
}
.column_desc{
  font-size: .5rem;
}
  body{
   
  }
  .section_title{
    font-size: 2rem;
  }
  button{
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 12px 20px;
    font-weight: 700;
  }
  main{
    margin: 0;
  }
  nav{
    margin: 0;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  nav li{
    margin: 0;
  }
  .nav_menu{

    gap: 10px;
  }
  p {
    
    font-size: .75rem;
  }
  
  .banner{
    padding: 1rem;
    flex-direction: column-reverse;
    text-align: center;
    
  }
  .banner h3{
    font-size: 1.5rem;
  }
  .banner_content{
    max-width: 90vw;
  }
  .banner_content h1,h3{
    font-size: 1.5rem;
    text-align: center;
  }
  .profile_picture{
    min-width:200px ;
  }
  .banner .btn_primary{
    margin-right: 10px;
  }

.about{
  width: 100%;
  padding: 1rem .5rem;
  margin:1rem 0 ;
}
.about_info-container{
  gap: 10px;
  flex-wrap: wrap;
}
.what_i_do{
  margin-bottom: 20px;
}
#what_i_do_desc{
  padding: 0;
}  

.skill_container{
  text-align: center;
  flex-wrap: wrap;
}

.resume{
  padding: .5rem;
}
.resume_container{
  margin-bottom:2rem;
  flex-direction: column;
  text-align: center;
}

.resume_column-title{
  margin: 10px 0 15px;
  padding: .5rem 0;
  border-bottom: 2px dotted black;
}
.item_title{
  font-size: 1rem;
}

#footer{
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  background-color: #fff8f3;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
 gap: 10px;
}


        

.social_icon{
  margin: 10px 15px 0 0;
  width: 10px;
  
}
#footer h3{
  font-size: 1rem;
  margin: 12px 0;

}

.footer_form input,textarea{
  /* width: 460px; */
  max-width: 80%;
  padding: 15px;
  margin: 0 0 .75rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

.footer_form .message{
  height: 80px;
  max-height: 180px;

}



}

